.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 72px;
    border-right-width:1px ;
    border-right-style:solid;
    border-right-color: rgb(229, 229, 229);
    z-index: 5;
    padding-top: 5px;
    
}
.sidebar-link{
    
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.sidebar-link:hover{
    background-color: rgb(207, 202, 202);
}
.sidebar-link img{
    height:24px;
    margin-bottom: 4px;
    

}
.sidebar-link div{
    font-family: roboto,arial;
    font-size: 10px;
    
}